html {
    background-color: #eee;
}

/* Your CSS here */

/*ako nema trebuschet ms uzmi obični sans-serif font*/
body {
    font-family: 'Trebuchet MS', sans-serif;
    color: #707070; 
}

/*1em = 16px od fonta koji se koristi ili u ovisnoti o root veličini fonta
margin: gore desno dolje lijevo*/
h1 {
    margin: 15px 20px 50px 20px;
    font-size: 2.25em;
}

/* uzmi sve spanove koje se nalaze unutar h1 i stavi ovaj stil*/
h1 span {
    color: black;
}

#translate-game {
    margin-left: 20px;
}

/*postavljamo proizvoljnu širinu, margine nek budu svagdje nula osim između redova (10px),
overflow: auto fix je zbog float elemenata - ovo je u biti hack*/
.row {
    width: 600px;
    margin: 0 0 10px 0;
    overflow: auto;
}

.row-first {
    margin-bottom: 25px;
}

.row div {
    font-size: 1.375rem;
}

/*box-sizing:border-box da uračuna padding u širinu*/
.column {
    box-sizing: border-box;
    width: 33%;
    padding-right: 10px;
    float: left;
}

.column {
    margin-bottom: 5px;
}

.column h2 {
    font-size: 1.5rem;
}


#translate-word {
    color: black;
    font-weight: bold;
}

#translate-answer {
    width: 85%;
    margin: 0;
    box-sizing: border-box;
}

#submit-answer {
    width: 50%;
}

.correct {
    color: blue;
}

.correct img {
    width: 0.5em;
}

.incorrect {
    color: red;
}

.column-2 .incorrect {
    text-decoration: line-through;
}
